<div class="container mt-4 mb-4" class="square"> <!-- 1 -->
    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col-6 page_text">
                <h1>La tienda en linea del artesano</h1>
                <p>Donde podras vender tus artesanias, podras comprar productos locales y apoyar a tu comunidad
                    ommodi alias porro inventore consectetur rem at nobis dolorum tenetur libero numquam vero quisquam, repellat beatae accusantium.</p>
            </div>
            <div class="col-6">
                <img id="first_img" src="https://www.nbjobs.ca/occupations/sites/default/files/styles/16_9_image/public/5244.jpg?itok=coeicnTB" alt=""> 
            </div> 
        </div>
    </div>
</div>

<div class="container mt-4 mb-4"> <!-- 2 -->
    <div class="row page_text">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, labore perferendis, ipsa fugit in earum, sequi distinctio amet ratione quam recusandae doloribus sit. Eos quos impedit deleniti atque, aspernatur perspiciatis!
            Distinctio aperiam sequi veritatis accusantium non soluta, eum consequuntur dolorem delectus in incidunt magni natus alias ut corrupti facere laudantium assumenda animi mollitia quidem at corporis? Sint aperiam consequuntur atque.
            Voluptatem quasi officia, libero obcaecati officiis, praesentium totam error optio, repudiandae culpa exercitationem quam voluptates similique repellat. Incidunt possimus eligendi praesentium aspernatur. Enim doloribus temporibus aut, ratione quod dolores corrupti.
            Asperiores sed itaque corrupti culpa veniam ipsa tempore vel, vero perferendis nostrum nihil soluta, inventore cum iusto nam. Ipsa temporibus earum aspernatur quidem iste velit ratione laborum dolor ad delectus.
            Natus doloremque, nesciunt deserunt dignissimos blanditiis ad illo voluptate inventore voluptatum! Dicta atque voluptatibus, natus, quibusdam sapiente impedit, aspernatur quae incidunt aut nam culpa ex at non similique. Cumque, rem?</p>
        </div>        
</div>

<div class="container mt-4 mb-4 p-0"><!-- 3 -->
    <h3>Vende tus artesanias</h3>
    <div class="row">
        <div class="col-3">
            <img id="first_img" src="https://static.zarahome.net/8/photos4/2021/V/4/1/p/7327/043/800/01/7327043800_1_1_2.jpg?t=1616686027527" alt=""> 
        </div>  
        <div class="col-3">
            <img id="first_img" src="https://static.zarahome.net/8/photos4/2021/V/4/1/p/4383/046/450/4383046450_2_2_2.jpg?t=1606293062034" alt=""> 
        </div> 
        <div class="col-3">
            <img id="first_img" src="https://static.zarahome.net/8/photos4/2021/V/4/1/p/3350/043/250/3350043250_1_1_2.jpg?t=1610645438744" alt=""> 
        </div>  
        <div class="col-3">
            <img id="first_img" src="https://static.zarahome.net/8/photos4/2021/V/4/1/p/2206/046/700/2206046700_1_1_2.jpg?t=1602754907980" alt=""> 
        </div>   
    </div>
</div>
<div class="container p-0 pt-4 pb-4"> <!-- 4 -->
    <div class="row">
        <div class="col-8">
            <img id="second_img" src="https://static.zarahome.net/8/photos4/2021/V/4/1/p/7994/106/250/7994106250_7_1_2.jpg?t=1615898175551" alt=""> 
        </div> 
        <div class="col-4 page_text">
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis maiores architecto laudantium explicabo. Commodi alias porro inventore consectetur rem at nobis dolorum tenetur libero numquam vero quisquam, repellat beatae accusantium.</p>
        </div>
    </div>
</div>

<div class="container p-0 pt-4 pb-4"> <!-- 5 -->
    <div class="row">
        <div class="col-4 page_text">
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis maiores architecto laudantium explicabo. Commodi alias porro inventore consectetur rem at nobis dolorum tenetur libero numquam vero quisquam, repellat beatae accusantium.</p>
        </div>
        <div class="col-8">
            <img id="third_img" src="https://static.zarahome.net/8/photos4/2021/V/4/1/p/8340/049/052/8340049052_7_1_2.jpg?t=1614158886093" alt=""> 
        </div> 
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-lg-start" >
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer text</h5>
  
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
            aliquam voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer text</h5>
  
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
            aliquam voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright
    </div>
    <!-- Copyright -->
  </footer>
