<!-- navigation bar users-->
<nav class="navbar navbar-expand-sm navbar-dark navbar-custom" id="nav-bar-id">
    <a id="nav-bar-logo"class="navbar-brand font-weight-bold ml-4" routerLink="/" routerLinkActive="active">ARTISAN<span class="sr-only">(current)</span></a>
    <div class="container m-0">
        <ul class="navbar-nav font-weight-light"> <!-- Catalogo de productos --> 
            <li class="nav-item active"> <!-- producto estrella --> 
                <a class="nav-link" routerLink="/products-component" routerLinkActive="active">PRODUCTOS <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/aboutus-component" routerLinkActive="active">ACERCA DE</a>
            </li>  
        </ul>
    </div>
    <div id="nav_icons"class="container justify-content-around w-25">
        <a routerLink="/field-component" routerLinkActive="active"><i class="fas fa-user"></i></a>
        <a routerLink="/payment-component" routerLinkActive="active"><i class="fa fa-shopping-cart"></i></a>
    </div>
</nav>
<div class="collapse" id="collapseExample">
    <div class="card card-body border-0"> 
        <div class="row">
            <div class="col-11">
                <input class="form-control" type="text" placeholder="Buscar producto..." aria-label="Search">
            </div>
            <div id ="search_nav_bar"class="col-1 p-0 d-flex justify-content-left">
                <a href="#"><i class="fa fa-search align-bottom fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- navigation bar admin-->
<nav class="navbar navbar-expand-sm navbar-dark navbar-custom-admin" id="nav-bar-id-admin" style="display: none;">
    <a id="nav-bar-logo"class="navbar-brand font-weight-bold ml-4" routerLink="/prodadmin-component" routerLinkActive="active">ADMIN<span class="sr-only">(current)</span></a>
    <div class="container m-0">
        <ul class="navbar-nav font-weight"> <!-- Catalogo de productos --> 
            <li class="nav-item active"> <!-- producto estrella --> 
                <a class="nav-link" routerLink="/dashboard-component" routerLinkActive="active">Create Product<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active"> <!-- producto estrella --> 
                <a class="nav-link" routerLink="/users-component" routerLinkActive="active">Users<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/prodadmin-component" routerLinkActive="active">Products</a>
            </li> 
            <li class="nav-item active">
                <a class="nav-link" routerLink="/sales-component" routerLinkActive="active">Sales</a>
            </li> 
        </ul>
    </div>
    <div class="container justify-content-around w-25 nav_icons">
        <a routerLink="/field-component" routerLinkActive="active"><i class="fas fa-user"></i></a>
    </div>
    </nav>
<!-- end of navigation bar admin-->



<router-outlet>
</router-outlet>


